name: Build & Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore V4A.Net.sln

      - name: Build
        run: dotnet build V4A.Net.sln --configuration Release --no-restore -p:GeneratePackageOnBuild=false

      - name: Test
        run: dotnet test V4A.Net.sln --configuration Release --no-build --logger "trx;LogFileName=tests.trx"
